:root {
  --gr-scaling: 1;

  --gr-space-1: calc(4px * var(--gr-scaling));
  --gr-space-2: calc(8px * var(--gr-scaling));
  --gr-space-3: calc(12px * var(--gr-scaling));
  --gr-space-4: calc(16px * var(--gr-scaling));
  --gr-space-5: calc(24px * var(--gr-scaling));
  --gr-space-6: calc(32px * var(--gr-scaling));
  --gr-space-7: calc(40px * var(--gr-scaling));
  --gr-space-8: calc(48px * var(--gr-scaling));
  --gr-space-9: calc(64px * var(--gr-scaling));
}
